.btn {
  font-size: 1em;
  border-radius: 8px;
  border: 3px solid;
  cursor: pointer;
  outline: none;
  transition: all .3s;
  position: relative;
  &:hover {
    text-decoration: none;
  }

  svg.progress-circle {
    height: 20px;
    width: 20px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: spin 0.9s infinite cubic-bezier(0.085, 0.260, 0.935, 0.710);

    path {
      transition: opacity 0.15s 0.3s;
      opacity: 1;
      fill: none;
      stroke: currentColor;
      stroke-width: 5;
    }
  }

  &.btn-primary {
    background: $anu-blue;
    border-color: $anu-blue;
    color: $white;

    &:hover {
      background: darken($blue, 10%);
    }
  }

  &.btn-secondary {
    background: $white;
    border-color: $white;
    color: $orange;

    &:hover {
      background: darken($white, 10%);
    }
  }

  &.btn-link {
    background: $white;
    border-color: $anu-blue;
    color: $anu-blue;

    &:hover {
      background: $whiteish;
      border-color: $windows-blue;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), inset 0 0 6px 1px #5aacff;
    }
  }

  &.btn-lg {
    padding: .6em;
    font-size: 1em;
    font-weight: normal;

    svg.progress-circle {
      height: 40px;
      width: 40px;
    }
  }

  &.btn-block {
    display: block;
    width: 100%;
    text-align: center;
  }

  &.btn-disabled {
    opacity: .8;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}
