.btn {
  border-radius: 8px;
  border: 2px solid;
  cursor: pointer;
  outline: none;
  transition: all .3s;

  &.btn-primary {
    background: $blue;
    border-color: $blue-grey;
    color: $white;
  }

  &.btn-secondary {
    background: $white;
    border-color: $white;
    color: $orange;
  }

  &.btn-lg {
    padding: .6em;
    font-size: 1.1em;
    font-weight: bold;
    @include media-breakpoint-up(md) {
      font-size: 1.4em;
      font-weight: normal;
      padding: .75em .6em;
    }
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

}
