// Styles for Card view.

.grid-card {
  display: block;
  border: solid 2px #b2b2b2;
  margin-bottom: $grid-gutter-width;
  padding-bottom: $grid-gutter-width * 1.5;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;

  @include media-breakpoint-up(md) {
    margin-bottom: $grid-gutter-width * 2;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: $grid-gutter-width * 3;
  }

  img {
    display: block;
  }
}

.grid-card__cover {
  display: block;
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;
}

.grid-card__buttons {
  // Fill in all space with two buttons.
  display: flex;
  a {
    flex: 1;
  }
}

.grid-card__primary-button {
  @include button();
  margin-left: $grid-gutter-width;
}

.grid-card__secondary-button {
  @include button(white, $color-primary);
}