.card {
  border: 2px solid $greyish;
  margin-bottom: 1.5em;

  .card-image {
    display: block;

    img {
      display: block;
      width: 100%;
    }
  }

  .progress-bar {
    height: .5em;
    background: $white-grey-alternative;

    .current-progress {
      height: .5em;
      background: $pale-red;
    }
  }

  .card-body {
    padding: 1.5em 1em;

    h3 a {
      color: $blackish;
    }
  }

}
