.collapsible-navigation {

  .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: $zindex-fixed - 2;
    left: 0;
    bottom: 0;
    right: 0;
    top: 3em;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .navigation {
    width: 220px;
    max-width: 80%;
    position: fixed;
    left: 0;
    top: 3em;
    padding-bottom: 3em;
    height: 100vh;
    background: $gray91;
    overflow-y: auto;
    transition: left .2s;
    z-index: $zindex-fixed - 1;
    @include media-breakpoint-up(md) {
      top: 80px;
      padding-bottom: 80px;
      left: 0;
    }
    @include media-breakpoint-up(lg) {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &.closed {
    .overlay {
      display: none;
    }
    .navigation {
      left: -220px;
    }
  }
}
