form {

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  input {
    background: $white-grey;
    border: 2px solid $blue-grey;
    border-radius: 8px;
    padding: 1em;
    color: $grey;
    font-size: 1.1em;
    width: 100%;
    outline: none;
    transition: all .3s;

    &:-webkit-autofill {
      -webkit-box-shadow:  0 0 0 1000px $white-grey inset !important;
      -webkit-text-fill-color: $grey !important;
    }

    @include media-breakpoint-up(md) {
      padding: 1.2em 1em;
      font-size: 1.2em;
    }
  }

  fieldset .field {
    margin-bottom: 1em;
  }

  // Style https://github.com/tonystar/bootstrap-float-label
  .has-float-label {

    .form-control:placeholder-shown:not(:focus) + * {
      color: $grey;
      font-size: 1.1em;
      left: 1.1em;
      top: 18px;
      opacity: 1;
      @include media-breakpoint-up(md) {
        top: 24px;
        font-size: 1.2em;
      }
    }

    label,
    & > span {
      color: $blue-grey;
      font-size: .8em;
      @include media-breakpoint-up(md) {
        top: 7px;
        left: 1.4em;
      }
      &:after {
        background: $white-grey;
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }
  }
}
