.site-header {
  background-color: $carbon;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  z-index: $zindex-fixed;
  box-shadow: $shadow1;
  display: flex;
  padding: 0 0.5em;
  justify-content: space-between;

  @include media-breakpoint-up(md) {
    height: 80px;
    padding: 0 2em;
  }

  .search {
    display: inline-block;
    position: relative;
    @include media-breakpoint-up(md) {
      top: -9px;
    }

    input {
      display: none;
      outline: none;
      width: 200px;
      height: 48px;
      padding: 0 1em 0 4em;
      border-radius: 8px;
      border: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    .icon.search {
      @include media-breakpoint-up(md) {
        position: absolute;
        left: 7px;
        top: 5px;
        margin: 0;

        path {
          fill: $carbon;
        }
      }
    }
  }
  //
  //.icon {
  //  display: inline-block;
  //  width: 1.5em;
  //  height: 1.5em;
  //  padding: 0.1em;
  //  margin-left: 1em;
  //  @include media-breakpoint-up(md) {
  //    width: 2.5em;
  //    height: 2.5em;
  //    padding: 0.3em;
  //    margin-left: 1.5em;
  //  }
  //
  //  &:first-child {
  //    margin-left: 0;
  //  }
  //
  //  svg {
  //    max-width: 100%;
  //    max-height: 100%;
  //
  //    &:hover path {
  //      fill: $gray91;
  //      transition: all .2s;
  //    }
  //  }
  //}

  button[class^=dropdown---dropdown-toggle---] {
    font-size: 1em;
    margin: 0;
    padding-top: 0;
  }
  div[class^=dropdown---dropdown-menu---] {
    &::after {
      right: 3px;
      @include media-breakpoint-up(md) {
        right: 10px;
      }
      @include media-breakpoint-up(lg) {
        right: 40px;
      }
    }
  }
}
