// Styles for student progress bars.
.progress-bar__small {
  min-height: $grid-gutter-width / 2;
  height: $grid-gutter-width / 2;

  background: linear-gradient(90deg, $color-primary 75%, $white-grey-alternative 75%);
}