.add-note-button {
  cursor: pointer;

  @include media-breakpoint-up(lg) {
    bottom: 16px;
    right: 22px;
  }

  svg {
    width: 60px;
    height: 60px;

    @include media-breakpoint-up(md) {
      width: 73px;
      height: 73px;
    }
  }
}
