.comment {
  height: auto;
}

.example-enter {
  opacity: 0.01;
  height: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  height: auto;
  transition: 700ms;
}

.example-leave {
  opacity: 1;
  height: auto;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  height: 0;
  transition: 700ms;
}
