.one-column-layout {
  padding-top: 1.4em;

  @include media-breakpoint-up(md) {
    padding-top: 3.5em;
  }

  h1 {
    font-size: 1.25em;

    @include media-breakpoint-up(md) {
      font-size: 1.5em;
      margin-bottom: 1.3em;
    }
  }

  form {
    button[type=submit] {
      margin: 36px 0;
    }
  }
  &.short {
    .content .content-wrapper {
      @include media-breakpoint-up(lg) {
        max-width: 400px;
      }
    }
  }
  &.page-title-green {
    .page-title {
      color: $seafoam-green;
    }
  }
}
