.one-column-layout {
  padding-top: 1.4em;

  @include media-breakpoint-up(md) {
    padding-top: 3.5em;
  }

  h1 {
    font-size: 1.25em;

    @include media-breakpoint-up(md) {
      font-size: 1.5em;
      margin-bottom: 1.3em;
    }
  }

  form {
    @include media-breakpoint-up(lg) {
      max-width: 400px;
    }

    button[type=submit] {
      margin: 36px 0;
    }
  }
}
