.collapsible-navigation.lesson {

  h5.title {
    margin-top: 0;
    padding: 1em;
  }

  .course-teaser {
    background-size: cover;
    color: white;
    min-height: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    &:hover {
      text-decoration: none;

      .image-overlay {
        background: rgba(0, 0, 0, 0.4);
        transition: all .2s;
      }
    }
    @include media-breakpoint-up(md) {
      height: 150px; // IE fix
    }

    .image-overlay {
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }

    .title {
      padding: 1em;
      font-size: 1em;
      font-weight: bold;
      color: $white;
      margin-bottom: auto;
    }

    .progress {
      margin-top: auto;

      .completion {
        color: $white;
        padding: 0.2em 1.5em;
      }

      .progress-bar {
        background-color: rgba(255, 255, 255, .4);

        .current-progress {
          height: 8px;
          background: $clay-orange;
          transition: width .3s;
        }
      }
    }

    > * {
      position: relative;
      z-index: 2;
    }

  }

  .resources-link {
    @extend .link-with-progress;
    position: relative;
    font-style: italic;
    background: darken($gray91, 10);

    &:hover,
    &.active {
      background: $growth-green-transparent;

      &:hover {
        background: darken($growth-green-transparent, 15);
      }
    }

    svg {
      position: absolute;
      left: 1em;
      top: 1em;
      @include media-breakpoint-up(lg) {
        left: 1.5em;
      }
    }

    span {
      padding-left: 2.5em;
    }

  }

  .table-of-contents {
    h5.title {
      margin: 1em 0;
      font-size: 0.875em;
      transition: all .3s;
      padding: 0 0 0 1em;
      @include media-breakpoint-up(lg) {
        padding-left: 1.5em;
      }
    }
  }

}
