.comments-cta {
  cursor: pointer;
  position: absolute;
  bottom: -36px;
  right: 15px;
  .heading & {
    bottom: -28px;
  }

  svg path {
    transition: .2s fill;
    fill: $london-sky;
  }

  &:hover {
    svg path {
      fill: $purply;
      transition: .2s fill;
    }
  }
  &.active {
    svg path {
      fill: $comments;
    }
  }
  .amount {
    position: absolute;
    font-size: 0.625em;
    color: $white;
    font-weight: bold;
    left: 0;
    top: 3px;
    line-height: 1em;
    text-align: center;
    width: 100%;
  }
}
