.comments-cta {
  cursor: pointer;
  position: absolute;
  bottom: -36px;
  right: 15px;

  svg path {
    transition: .2s fill;
    fill: $london-sky;
  }
  &:hover {
    svg path {
      fill: $purply;
      transition: .2s fill;
    }
  }
  &.active {
    svg path {
      fill: $comments;
    }
  }
}
