.comments-cta {
  cursor: pointer;
  float: right;
  margin-top: 10px;
  margin-bottom: -10px;

  svg path {
    transition: .2s fill;
    fill: $london-sky;
  }
  &:hover {
    svg path {
      fill: #bb8de4;
      transition: .2s fill;
    }
  }
  &.active {
    svg path {
      fill: #431c65;
    }
  }
}
