.collapsible-notebook {
  position: relative;

  &.closed {
    .lesson-notebook {
      right: -104%;
    }
  }

  .add-note-button {
    position: fixed;
    bottom: 0;
    right: 6px;
    z-index: $zindex-fixed - 2;
    cursor: pointer;
    svg {
      //width: 73px;
      //height: 73px;
      width: 60px;
      height: 60px;
    }
  }

  .lesson-notebook {
    position: fixed;
    //top: 80px;
    top: 3em;
    bottom: 0;
    right: 0;
    z-index: $zindex-fixed - 2;
    overflow-y: scroll;
    padding: 2em;
    //max-width: 45%;
    width: 100%;
    //width: 480px;
    background: $white;
    box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.5);
    transition: right .2s;

    .save-close {
      background: $carbon;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1.75em 0;
      text-align: center;
      font-weight: bold;
      font-size: 1.25em;
      color: white;
      cursor: pointer;
    }
  }
}
