.collapsible-notebook {
  position: relative;

  &.closed {
    .lesson-notebook {
      right: -104%;
      @include media-breakpoint-up(md) {
        right: -356px;
      }
      @include media-breakpoint-up(lg) {
        right: -484px;
      }
    }
  }

  .add-note-button {
    position: fixed;
    bottom: 0;
    right: 6px;
    z-index: $zindex-fixed - 2;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      bottom: 16px;
      right: 22px;
    }

    svg {
      width: 60px;
      height: 60px;

      @include media-breakpoint-up(md) {
        width: 73px;
        height: 73px;
      }
    }
  }

  .lesson-notebook {
    position: fixed;
    top: 3em;
    bottom: 0;
    right: 0;
    z-index: $zindex-fixed - 2;
    overflow-y: scroll;
    padding: 2em;
    width: 100%;
    background: $white;
    box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.5);
    transition: right .2s;

    @include media-breakpoint-up(md) {
      width: 350px;
      top: 80px;
    }
    @include media-breakpoint-up(lg) {
      width: 480px;
    }

    .save-close {
      background: $carbon;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1.75em 0;
      text-align: center;
      font-weight: bold;
      font-size: 1.25em;
      color: white;
      cursor: pointer;
    }
  }
}
