.lesson-comments-container {
  .comment-form {
    padding: 1em;
    transform: .3s all;
    @include media-breakpoint-up(md) {
      padding: 1.5em 1em;
    }
    @include media-breakpoint-up(lg) {
      padding: 1.5em 1.5em;
    }

    &.nested {
      padding-left: 2em;
      border-bottom: 1px solid $london-sky;
      @include media-breakpoint-up(lg) {
        padding-left: 3em;
      }
    }

    textarea {
      min-height: 88px;
      margin-bottom: 0.75em;
    }
  }
  .comment-body .comment-form {
    padding: 0;
  }
}

.tagging-wrapper {
  .username {
    font-weight: bold;
    color: $carbon;
    margin-right: 6px;
  }
  .tagging-wrapper__suggestions {
    width: 100%;
    top: initial !important;
    border: solid 1px $london-sky;
    border-radius: 8px;
    padding: 6px 0 4px;
    bottom: calc(100% - 2px);
    color: $slate-grey;
    font-size: 16px;
    //max-height: 128px;
    //max-height: 198px;
    overflow-y: auto;
  }
  .tagging-wrapper__suggestions__item {
    padding: 8px;
    > div {
      @include trancate-text();
    }
    .user-avatar {
      display: inline-block;
      margin-right: 8px;
      width: 24px;
      height: 24px;
      font-size: 0.75em;
      font-weight: bold;
    }
  }
  .tagging-wrapper__suggestions__item--focused {
    background-color: $tag-blue;
    color: $white;
    .username {
      color: $white;
    }
  }

  .tagging-wrapper__highlighter {
    padding: 1em .8em .6em;
    padding-top: .6em;
    border: 2px solid transparent;
    min-height: 88px;
    margin-bottom: 0.75em;

    .tagging-highlighter-item {
      color: $tag-blue;
      position: relative;
      z-index: 9999;
    }
  }
}
