.header-icon {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 0.6em;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    padding-top: 5px;
    margin: 0 0.5em;
  }

  .icon {
    width: 1.3em;
    height: 1.3em;
    @include media-breakpoint-up(md) {
      width: 2.5em;
      height: 2.5em;
    }

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &:hover svg path {
    fill: $gray91;
    transition: fill .2s;
  }
  &:active svg path {
    fill: darken($gray91, 6);
  }

  .label {
    display: none;
    color: $white;
    font-size: 0.875em;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}




.icon222 {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding: 0.1em;
  margin-left: 1em;
  @include media-breakpoint-up(md) {
    width: 2.5em;
    height: 2.5em;
    padding: 0.3em;
    margin-left: 1.5em;
  }

  &:first-child {
    margin-left: 0;
  }

}
