.page-notebook {
  background: $eggshell-white;

  .notes-list-column {
    background-color: $gray91;
    position: fixed;
    left: 0;
    top: 48px;
    width: 100%;
    bottom: 0;
    @include media-breakpoint-up(md) {
      top: 80px;
      width: 33%;
    }

    .notes-list-heading {
      display: flex;
      padding: 0 1em;
      height: 56px;
      background: $squash;
      color: $white;
      justify-content: space-between;
      align-items: center;
      @include media-breakpoint-up(md) {
        height: 80px;
      }
      @include media-breakpoint-up(lg) {
        padding: 0 2em;
        height: 96px;
      }

      .title {
        font-size: 1.25em;
        font-weight: bold;
        @include media-breakpoint-up(lg) {
          font-size: 1.5em;
        }
      }
    }
  }

  .note-content-column {
    margin-left: 33%;
    padding: 1em;
  }
}
