.paragraph.google-doc {
  iframe {
    border: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5) inset;
    padding: 2px;
    width: 100%;
    height: 400px;
    @include media-breakpoint-up(sm) {
      height: 600px;
    }
  }
  &.type-document iframe {
    @include media-breakpoint-up(lg) {
      height: 968px;
    }
  }
  &.type-presentation iframe {
    height: 240px;
    box-shadow: none;
    @include media-breakpoint-up(sm) {
      height: 442px;
    }
  }
}
