.tagging-wrapper {
  .username {
    font-weight: bold;
    color: $carbon;
  }
  .tagging-wrapper__suggestions {
    width: 100%;
    top: initial !important;
    border: solid 1px $london-sky;
    border-radius: 8px;
    padding: 8px;
    bottom: 23px;
    color: $slate-grey;
    font-size: 16px;
  }
  .tagging-wrapper__suggestions__item {
    padding: 4px;
  }
  .tagging-wrapper__suggestions__item--focused {
    background-color: $tag-blue;
    color: $white;
    .username {
      color: $white;
    }
  }
}
