.editor-menu {
  padding: .625em 0 .3125em;
  @include media-breakpoint-up(md) {
    margin-bottom: .5em;
  }

  &.sticky {
    background: $white;
    box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.5);
    padding-left: 15px;
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    z-index: 1050;
    @include media-breakpoint-up(md) {
      padding-left: 7.5%; /* Pontentially recalculate this value */
      top: 80px;
      left: 33%;
    }
  }

  .button {
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 1em;
    padding: 1px;
    text-align: center;

    path {
      fill: $london-sky;
    }

    &:hover,
    &[data-active=true] {
      path {
        fill: $anu-blue;
      }
    }
  }
}

.editor-wrapper {

  .sticky-wrapper {
    height: 48px;
  }

  .sticky-element.sticky {
    top: 80px;
    background: $white;
    width: 100%;
  }
}

.lesson-notebook {
  .sticky-element.sticky {
    top: 86px;
  }
}
