.site-header {
  background-color: $carbon;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height-sm;
  z-index: $zindex-fixed;
  box-shadow: $shadow1;
  display: flex;
  padding: 0 0.5em;
  justify-content: space-between;
  @include media-breakpoint-up(md) {
    height: $header-height-md;
    padding: 0 1.5em;
  }

  a:hover {
    text-decoration: none;
  }

  .left {
    flex: 1 1 auto;
  }

  .left,
  .right {
    > a {
      display: block;
      float: left;

      &.site-logo-link {
        display: none;
      }
      @include media-breakpoint-up(md) {
        &.site-logo-link {
          display: inline-block;
          border-right: 1px solid $anu-black;
          margin-left: -1.5em;
          .header-icon {
            .icon {
              height: 36px;
              top: 12px;
            }
          }
          .label {
            font-size: 0.625em;
            font-style: italic;
            font-weight: bold;
            // Set minimum width for label to avoid
            // jumping on long organization switching.
            min-width: 140px;
            top: 49px;
          }
        }
      }
    }
  }

  .beta-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 30px;
    z-index: 9;
    @include media-breakpoint-up(md) {
      width: 45px;
      height: 40px;
    }
    @include media-breakpoint-up(lg) {
      width: 56px;
      height: 50px;
    }
  }
}
