.lesson-comments-container {
  .new-comment-form {
    padding: 1em;
    @include media-breakpoint-up(md) {
      padding: 1.5em;
    }

    textarea {
      min-height: 88px;
      margin-bottom: 0.75em;
    }
  }
}
