/* HELPER VARIABLES */
$header-gutter: $grid-gutter-width;
$home-icon-width: 24px;
// Use larger sizes on desktop.
$header-gutter-desktop: $grid-gutter-width * 2;
$home-icon-width-desktop: 40px;

@mixin no-gutters() {
  padding-right: 0;
  padding-left: 0;
}

/* Page container */
.page-container {
  @include make-container();
  padding-right: $grid-gutter-width;
  padding-left: $grid-gutter-width;

  @include media-breakpoint-up(md) {
    padding-right: $grid-gutter-width * 2;
    padding-left: $grid-gutter-width * 2;
  }
}

.page-with-header {
  padding-top: 3em;
  @include media-breakpoint-up(md) {
    padding-top: 5em;
  }
}

//TODO: move login footer styles here.
footer {
  @include make-row();
  background: $anu-black;
  overflow: hidden;
  padding: 1em;

  // Make header fill 100% of container.
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;
  @include media-breakpoint-up(md) {
    margin-left: -$grid-gutter-width * 2;
    margin-right: -$grid-gutter-width * 2;
  }
}
