// Body reset
html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $carbon;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background: $body-bg;
  margin: 0;
  padding: 0;
  min-width: 250px;
}
