body {

  // Disable scroll on mobile.
  &.no-scroll-mobile {
    overflow: hidden;
    @include media-breakpoint-up(md) {
      overflow: auto;
    }
  }

  // Disable scroll globally.
  &.no-scroll {
    overflow: hidden;
    height: 100%;
  }
}
