// Headings
// -------------------------
body {
  color: $anu-black;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
}

h1 {
  color: $anu-black;
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: $font-family-base;
  font-weight: bold;
  margin: 0 0 1em;
  transition: all .3s;
  @include media-breakpoint-up(md) {
    font-size: 2.25em;
  }
  @include media-breakpoint-up(lg) {
    font-size: 3em;
  }
}

h2 {
  color: $anu-black;
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: $font-family-base;
  font-weight: bold;
  margin: 0 0 1em;
  transition: all .3s;
  @include media-breakpoint-up(md) {
    font-size: 1.875em;
  }
  @include media-breakpoint-up(lg) {
    font-size: 2.5em;
  }
}

h3 {
  color: $anu-black;
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: $font-family-base;
  font-weight: bold;
  margin: 0 0 1em;
  transition: all .3s;
  @include media-breakpoint-up(md) {
    font-size: 1.875em;
  }
  @include media-breakpoint-up(lg) {
    font-size: 2.25em;
  }
}

h4 {
  color: $anu-black;
  font-size: 1.25em;
  line-height: 1.25em;
  font-family: $font-family-base;
  font-weight: bold;
  margin: 0 0 1em;
  transition: all .3s;
  @include media-breakpoint-up(md) {
    font-size: 1.5em;
  }
  @include media-breakpoint-up(lg) {
    font-size: 2em;
  }
}

h5 {
  color: $anu-black;
  font-size: 1.125em;
  line-height: 1.125em;
  font-family: $font-family-base;
  font-weight: 600;
  margin: 0 0 1em;
  transition: all .3s;
  @include media-breakpoint-up(md) {
    font-size: 1.25em;
    line-height: 1.25em;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

// Paragraphs
// -------------------------
p {
  font-size: 1em;
  margin: 0 0 .5em 0;
  transition: all .3s;

  &.bold {
    font-weight: bold;
  }
}

.caption {
  font-size: .75em;
  @include media-breakpoint-up(md) {
    font-size: .875em;
  }

  &.sm {
    font-size: .75em;
    line-height: 1.5em;
  }

  &.xs {
    font-size: .625em;
    line-height: 1.25em;
  }

  &.bold {
    font-weight: bold;
  }
}

// Links
a {
  text-decoration: none;
  color: $anu-blue;

  &:hover {
    text-decoration: underline;
  }
}
