// Headings
// -------------------------
body {
  color: $font-default;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1 {
  font-size: 1.5em;
  color: $blackish;
  line-height: 1.3em;
  font-weight: bold;
  font-family: $font-family-base;
  margin-bottom: 1em;
  transition: all .3s;

  @include media-breakpoint-up(md) {
    font-size: 1.875em;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.2em;
    margin-bottom: 1.5em;
  }
  @include media-breakpoint-up(xl) {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 1.5em;
  color: $blackish;
  margin-top: 0.5em;
  margin-bottom: 1em;

  @include media-breakpoint-up(md) {
    font-size: 1.875em;
    margin-top: $font-size-base;
    margin-bottom: $font-size-base * 2;
  }
  @include media-breakpoint-up(lg) {
    font-size: 2.25em;
    margin-top: $font-size-base * 1.5;
    margin-bottom: $font-size-base * 3;
  }
}

h3 {
  font-size: 1.375em;
  color: $blackish;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.375em;

  @include media-breakpoint-up(lg) {
    font-size: 1.5em;
  }
}

h4 {
  color: $blackish;
}

h5 {
  color: $blackish;
  font-size: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}

// Paragraphs
// -------------------------
p {
  font-size: 1em;
  margin: 0 0 .5em 0;
  transition: all .3s;
}
