// Headings
// -------------------------

h1 {
  font-size: 1.8em;
  line-height: 1.3em;
  font-weight: 900;
  font-family: $font-family-base;
  margin-bottom: 1em;
  @include media-breakpoint-up(md) {
    font-size: 2.5em;
    margin-bottom: 1.5em;
  }
}

// Paragraphs
// -------------------------
p {
  font-size: 0.8em;
  margin: 0 0 .5em 0;
  @include media-breakpoint-up(md) {
    font-size: 1em;
  }
}
