// Colors
// -------------------------
$blue: #387ecb;
$blue-grey: #65a9ad;
$grey: #a0a0a0;
$grey-warm: #9b9b9b;
$orange: #f18008;
$white: #ffffff;

// Font families
// -------------------------
$font-family-base: 'Lato', sans-serif;


// Font sizes
// -------------------------
$font-size-base: 14px;


// Line heights
// -------------------------
$line-height-base: 14px;