// Colors
// -------------------------
$black: #0e0e0e;
$blue: #387ecb;
$blue-grey: #65a9ad;
$grey-cold: #d8d8d8;
$grey: #a0a0a0;
$grey-warm: #9b9b9b;
$orange: #f18008;
$white: #ffffff;
$white-grey: #f1f1f1;

// Font families
// -------------------------
$font-family-base: 'Lato', sans-serif;


// Font sizes
// -------------------------
$font-size-base: 16px;


// Bootstrap Grid settings.
// -------------------------
$grid-gutter-width: 16px;
