// Colors
// -------------------------

// Greyscale
$white: #FFFFFF;
$eggshell-white: #FDFDFD;
$gray91: #E8E8E8;
$white-grey: #efefef;
$london-sky: #B2B2B2;
$slate-grey: #757575;
$warm-grey-two: #797979;
$carbon: #3E3E3E;
$anu-black: #2C2C2C;

// Color palette
$anu-blue: #4698c9;
$clay-orange: #de6b48;
$squash: #f5a623;
$gold: #f3c06d;
$pale-peach: #ffd796;
$tag-hightlight-yellow: #feebcc;
$pale: #fff5d8;
$growth-green: #68cccb;
$growth-green-transparent: rgba(104, 204, 203, 0.5);
$seafoam-green: #12b3a4;
$alizarin-crimson: #e61e26;
$pinkish: #d6666b;
$navy: #2a4d66;
$windows-blue: #368bcf;
$tag-blue: #1866b5;
$anu-blue-30: #c7e0ee;
$light-blue-grey: #daeaf4;
$purple: #431c65;
$purply: #8e4bc9;

// Color variables
$comments: $purple;
$notebook: $squash;
$highlighted: $pale;

// Shadows
// -------------------------

$shadow1: 0 0 1px 0 rgba(0, 0, 0, 0.5);
$shadow2: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
$shadow3: -2px 0 5px 0 rgba(0, 0, 0, 0.5);

// Font families
// -------------------------
$font-family-base: 'Lato', sans-serif;

// Font sizes
// -------------------------
$font-size-base: 16px;

// Line heights
// -------------------------
$line-height-base: 24px;

// Bootstrap Grid settings.
// -------------------------
$grid-gutter-width: 16px;
