.user-avatar {
  background: $anu-black;
  color: $white;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-size: 1em;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
}
