.search-item.media .thumbnails  {
  img {
    //max-width: 200px;
    max-height: 150px;
    display: block;
  }
  .image-wrapper {
    min-height: 150px;
    min-width: 150px;
    display: inline-block;
    position: relative;

    .spinner {
      position: absolute;
      top: calc(50% - 28px);
      left: calc(50% - 28px);
      z-index: $zindex-fixed;
    }
    .thumbnail-image {
      z-index: $zindex-fixed + 2;
      position: relative;
    }
  }
}
