.collapsible-notebook {
  position: relative;

  .add-note-button {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 1029;
    cursor: pointer;
    svg {
      width: 73px;
      height: 73px;
    }
  }
  .lesson-notebook {
    position: fixed;
    top: 80px;
    right: 0;
    z-index: 1030;
    overflow-y: scroll;
    padding-bottom: 80px;
    max-width: 80%;
    width: 480px;
    height: 100vh;
    background: $white;
    box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.5);
    transition: right .2s;
  }

  &.closed {
    .lesson-notebook {
      right: -480px;
    }
  }
}
