.notes-list-item {
  background-color: #e8e8e8;
  padding: 20px 40px;

  &.active {
    background-color: #ffd796;
  }
  .title {
    @include trancate-text();
    font-size: 18px;
    font-weight: bold;
  }
  .date {
    font-size: 14px;
  }
  .teaser {
    @include trancate-text();
    font-size: 18px;
  }
}
