.ReactPasswordStrength {
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  position: inherit;

  .ReactPasswordStrength-strength-bar {
    margin-top: 12px;
    height: 4px;
    display: none;
    max-width: calc(100% - 70px);
  }
  .ReactPasswordStrength-strength-desc {
    position: relative;
    font-style: normal;
    font-size: 12px;
    display: none;
    top: 2px;
    right: inherit;
    width: auto;
    text-align: left;
    padding: 0;
    margin-left: 7px;
  }

  &.with-indicator .ReactPasswordStrength-strength-bar,
  &.with-indicator .ReactPasswordStrength-strength-desc {
    display: inline-block;
  }
}
