.ReactPasswordStrength {
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  position: inherit;

  .ReactPasswordStrength-strength-bar {
    margin-top: 12px;
    height: 4px;
    display: none;
    max-width: calc(100% - 70px);
  }
  .ReactPasswordStrength-strength-desc {
    position: relative;
    font-style: normal;
    font-size: 12px;
    display: none;
    top: 2px;
    right: inherit;
    width: auto;
    text-align: left;
    padding: 0;
    margin-left: 7px;
    font-weight: bold;
  }

  &.with-indicator .ReactPasswordStrength-strength-bar,
  &.with-indicator .ReactPasswordStrength-strength-desc {
    display: inline-block;
  }
  &.is-strength-0 {
    .ReactPasswordStrength-strength-bar {
      background: $alizarin-crimson;
    }
    .ReactPasswordStrength-strength-desc {
      color: $alizarin-crimson;
    }
  }
  &.is-strength-1,
  &.is-strength-2,
  &.is-strength-3 {
    .ReactPasswordStrength-strength-bar {
      background: $squash;
    }
    .ReactPasswordStrength-strength-desc {
      color: $squash;
    }
  }
  &.is-strength-4 {
    .ReactPasswordStrength-strength-bar {
      background: $seafoam-green;
    }
    .ReactPasswordStrength-strength-desc {
      color: $seafoam-green;
    }
  }
}
