.student-dashboard {
  @include make-container();
  @include make-container-max-widths();
  @include no-gutters();
}

@mixin overwrite-grid-gutters($gutter-size: $grid-gutter-width) {
  margin-left: -($gutter-size / 2);
  margin-right: -($gutter-size / 2);

  .grid-item {
    padding-left: $gutter-size / 2;
    padding-right: $gutter-size / 2;
  }
}

.courses-list {
  @include make-row();

  @include media-breakpoint-up(md) {
    @include overwrite-grid-gutters($grid-gutter-width * 2);
  }
  @include media-breakpoint-up(lg) {
    @include overwrite-grid-gutters($grid-gutter-width * 3);
  }
}

.grid-item {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }

  min-width: 250px;

  img {
    max-width: 100%;
  }
}