.lesson {
  background: $eggshell-white;

  .lesson-container {
    transition: all .2s;
    margin-bottom: 4em;
    @include media-breakpoint-up(md) {
      margin-left: 220px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 6em;
    }

    &.nav-collapsed {
      margin-left: 0;
    }

    h1 {
      font-size: 1.5em;
      margin-top: .5em;
      margin-bottom: .75em;
      transition: all .3s;
      @include media-breakpoint-up(md) {
        margin-bottom: 1em;
        font-size: 1.875em;
      }
      @include media-breakpoint-up(lg) {
        font-size: 2.5em;
      }
    }

    .lesson-content > div {
      margin-bottom: 3em;
      @include media-breakpoint-up(md) {
        margin-bottom: 4em;
      }
    }

    .lesson-navigation {
      margin-top: 4em;
    }

    .row > div {
      transition: all .3s;
    }
  }

}
