.page-login {
  background: url('/static/img/background/page-login@mobile.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  & > .header {
    padding-top: 15px;
    position: relative;
    z-index: 10;

    img {
      width: 96px;
    }
  }


  & > .container {
    flex-grow: 20;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;

    & > .content {
      flex-direction: column;
      flex-grow: 20;
      align-items: center;
      padding-bottom: 1em;
      justify-content: center;
      @include media-breakpoint-up(md) {
        padding-bottom: 3em;
      }
      @include media-breakpoint-up(lg) {
        flex-direction: row;
      }

      .col {
        z-index: 1;

        h1 {
          margin-top: 0;
          color: white;
          text-align: center;
          @include media-breakpoint-up(lg) {
            text-align: left;
          }
        }

        .login-block {
          background: rgba(48, 48, 48, 0.8);
          padding: 2em;
          max-width: 416px;
          margin: 0 auto;
          @include media-breakpoint-up(md) {
            padding: 3em;
          }

          a.forgot-password {
            font-size: 0.9em;
            display: block;
            text-align: center;
            margin: 1.5em;
            @include media-breakpoint-up(md) {
              font-size: 1em;
            }
          }
        }
      }
    }
  }

  & > .footer {
    background: $black;
    color: $grey-warm;
    padding: 1em;

    ul.links {
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 0.8em;
      @include media-breakpoint-up(md) {
        font-size: 1em;
      }

      li {
        padding: 0 1em 0.8em;
        @include media-breakpoint-up(md) {
          padding: 0 1em 1.5em;
        }

        a {
          color: $white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    p {
      text-align: center;
      margin: 0;
    }
  }
}
