// Using id here to override default dropdown styles.
#profile-menu {
  height: 100%;
  & > button {
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
  }
  div[class^=dropdown---dropdown-menu-wrapper] {
    right: -2px;
    @include media-breakpoint-up(lg) {
      right: -6px;
    }
  }
  div[class^=dropdown---dropdown-menu---] {
    padding: 12px 0 14px;
    width: 160px;
    &::after {
      @include media-breakpoint-up(md) {
        right: 11px;
      }
      @include media-breakpoint-up(lg) {
        right: 15px;
      }
    }
  }
  // TODO: move to generic dropdown styles to keep all dropdowns consistent.
  div[class^=dropdown---menu-item---] {
    padding: 0;
    font-size: 16px;
    line-height: 2;
    min-width: 0;
    color: $anu-black;
    &:hover {
      background-color: $anu-blue-30;
    }

    & > span,
    & > a {
      display: block;
      padding: 2px 16px;
    }
  }

  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}
