.profile-menu {
  position: relative;
  float: left;

  .icon-close {
    display: none;
  }

  &.menu-opened .header-icon {
    background-color: $slate-grey;
    position: relative;
    z-index: 1036;
  }

  @include media-breakpoint-down(sm) {
    &.menu-opened {
      .icon-close {
        display: inline-block;
      }
      .icon-profile {
        display: none;
      }
    }
  }

  .scrim {
    z-index: $zindex-fixed + 3;
    @include media-breakpoint-up(md) {
      background-color: transparent;
      &:after {
        background-color: transparent;
      }
    }
  }

  .profile-menu-panel {
    & > .footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      align-items: stretch;
      box-shadow: 0 -1px 5px 0 rgba(42, 77, 102, 0.3);
    }
    button.close {
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 80px;
      width: 300px;
      right: 0;
      bottom: auto;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
      display: none;
      &.opened {
        display: block;
      }

      & > .footer {
        display: none;
      }
    }
  }

}
