.add-note-button {
  cursor: pointer;

  svg {
    width: 52px;
    height: 52px;

    @include media-breakpoint-up(md) {
      width: 64px;
      height: 64px;
    }
  }
}

// Set position for add note button.
.lesson-container .add-note-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: $zindex-fixed - 2;

  @include media-breakpoint-up(lg) {
    bottom: 26px;
    right: 32px;
  }
}
