.notes-list-sidebar .notes-list-heading {
  display: flex;
  padding: 0 1em;
  height: 56px;
  background: $squash;
  color: $white;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.25em;
    font-weight: bold;
  }
  .add-note-icon {
    display: block;
    margin: 0 auto;
  }
  .add-note .caption {
    display: none;
    margin-top: 6px;
    font-size: .75em;
    line-height: normal;
  }
  @include media-breakpoint-up(md) {
    height: 80px;

    .add-note {
      text-align: center;

      .caption {
        display: block;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding: 0 2em;
    height: 96px;

    .title {
      font-size: 1.5em;
    }
    .add-note {
      margin-top: 12px;
    }
  }
}

.notes-list-sidebar .notes-list {
  .notes-list-item {
    border-bottom: 2px solid $white;
  }
}
