.notes-list-sidebar {
  .notes-list-heading {
    height: 56px;
    background: $squash;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;

    .title {
      font-size: 1.25em;
      font-weight: bold;
    }
    .add-note-icon {
      display: block;
    }
    .add-note {
      .caption {
        display: none;
      }
    }
  }
  .notes-list {
    .notes-list-item {
      border-bottom: 2px solid $white;
    }
  }

}
