.notes-list-sidebar {
  .heading {
    height: 56px;
    background: $squash;
    padding: 1em;
    color: $white;
    position: relative;

    .title {
      font-size: 1.25em;
      font-weight: bold;
    }

    .add-note {
      position: absolute;
      right: .875em;
      top: .875em;

      .caption {
        display: none;
      }
    }
  }
  .notes-list {
    .notes-list-item {
      border-bottom: 2px solid $white;
    }
  }
}