.notifications-popup {
  position: absolute;
  right: 0;
  background-color: $white;


  @include media-breakpoint-up(md) {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 500px;
    top: 61px;
    border-radius: 2px;
  }

  & > .list {
    height: calc(100% - 39px);
  }

  & > .footer {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    background-color: #c7e1f1;
    color: $navy;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
