.notifications-wrapper {
  display: inline-block;
  position: relative;

  .icon {
    cursor: pointer;
    position: relative;
    z-index: $zindex-fixed + 2;
  }

  .icon-close {
    display: none;
    svg {
      margin-left: 3px;
      margin-bottom: 2px;
    }
  }

  @include media-breakpoint-down(sm) {
    &.popup-opened {
      .icon-close {
        display: inline-block;
      }
      .icon-bell {
        display: none;
      }
    }
  }
}
